/* Styles for the cocnut murder web pages */

/* Re-Configuring some global default settings */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  display: block;
  background: yellow;
  text-align: center;
}

